{% extends 'detailempresa.html' %} {% load static %} {% block head_list %}
<script src="{% static 'Empresas\js\detail.js' %}"></script>{% endblock head_list %} {% block columns %}
<table id="table_ejemploList" class="table table-striped table-bordered">
    <thead>
        <tr bgcolor="#bee5eb">
            <th class="text-center" width="10%">RFC</th>
            <th class="text-center" width="70%">DIRECCIÓN</th>
            <th class="text-center" width="70%">CLIENTE</th>
        </tr>
    </thead>
    
    {% if data_json %}  
    {% for i in data_json %}
      <tr>
        <td class="tb_desc">&nbsp{{i.rfc}}&nbsp</td>
        <td class="tb_desc">Pais: &nbsp{{i.pais}}&nbsp , Estado: &nbsp{{i.estado}}&nbsp , Municipio: &nbsp{{i.municipio}}&nbsp , Localidad: &nbsp{{i.localidad}}&nbsp ,  Calle: &nbsp{{i.calle}}&nbsp , Colonia: &nbsp{{i.colonia}}&nbsp , N.Ext: &nbsp{{i.num_exterior}}&nbsp , N.Int: &nbsp{{i.num_interior}}&nbsp , Cod.Postal: &nbsp{{i.codigo_postal}}&nbsp , Referencia: &nbsp{{i.referencia}}&nbsp</td>      
        <td class="tb_desc">&nbsp{{i.nombre_completo}}&nbsp</td>
      </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td class="tb_desc">No hay datos.</td>
        <td class="tb_desc">No hay datos.</td>      
        <td class="tb_desc">No hay datos.</td>
    </tr>

    {% endif %}
    
</table>


{% endblock columns %} {% block rows %} {% endblock rows %} {% block javascript %} {% endblock %}